[Unit]
Description=Download and run kismet boot service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=toor
WorkingDirectory=/home/toor
ExecStart=/bin/bash -c 'curl -o kismet-boot.js https://raw.githubusercontent.com/c2-systems/rfd/refs/heads/main/kismet-boot.js && node kismet-boot.js'
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
